[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
cycler = "*"
et-xmlfile = "*"
filetype = "*"
jdcal = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pyparsing = "*"
pysam = "*"
python-dateutil = "*"
six = "*"
pybind11 = "*"
scipy = "*"
rich = "*"
pybigwig = "*"
seaborn = "*"

[requires]
python_version = ">=3.8"
